<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>首都人才网企业会员中心  企业会员中心首页</title>

    <meta http-equiv="Cache-Control" content="no-transform " />
    <script type="text/javascript" src="/Content/2018/Public/Scripts/jquery-1.12.4.min.js"></script>

    <script type="text/javascript" src="/Content/2018/Public/Scripts/jquery.popup.js"></script>
    <link href="/Content/2018/Public/Styles/popup.css" rel="stylesheet" type="text/css" />
    <script>    var _site_provinceID = '10' </script>
    <script type="text/javascript" src="/content/homepage/js/c.js?v=4.3"></script>
    <link href="/content/chat/style/chat.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/script/validate.js"></script>

    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
    <link type="text/css" rel="stylesheet" href="/Content/Company/style/style.css?v=1" />
    <link type="text/css" rel="stylesheet" href="/Content/Company/style/Index.css?v=180117" />
    <link type="text/css" rel="stylesheet" href="/Content/Company/style/edit.css?v=1" />
    <script type="text/javascript" src="/content/company/script/register.js?v=1"></script>
    <script type="text/javascript" src="/Script/validate.js?v=1"></script>
    <script type="text/javascript" src="/script/p.js?v=1"></script>
    <script type="text/javascript" src="/Script/ajax.js?v=1"></script>
    <script type="text/javascript" src="/Script/common.js?v=1"></script>
    <script>
        var lotteryNum =0;
        var clickNum = 0;
        $(function(){
            setCookie("CheckErr","");
            $(".FixedTop .FixedMain .Sites a").on("click",function(){
                _hmt.push(['_trackEvent', '地区', 'click']);
            })

            $("#txtKeyWord").on("click",function(){
                _hmt.push(['_trackEvent', '搜索框输入点击', 'click']);
            })
            $("#msg1_body .DivShow .DivShowB .NDivCl .NDivClSmall .jobtypeSelLi li").on("click",function(){
                _hmt.push(['_trackEvent', '搜索框职位类别选择', 'click']);
            })
            $(".input_search_btn").on("click",function(){
                _hmt.push(['_trackEvent', '搜工作', 'click']);
            })
            $(".Input_login_o_btn").on("click",function(){
                _hmt.push(['_trackEvent', '登录', 'click']);
            })
            $(".oneMinuteStyle").on("click",function(){
                _hmt.push(['_trackEvent', '一分钟注册', 'click']);
            })})
    </script>
    <script type="text/javascript" src="/content/company/script/index.js?v=1"></script>
    <style>
        .Siteremind li
        {
            line-height: 20px;
        }
        .showBtn
        {
            width: 75px;
            height: 30px;
            background: url(/content/Company/cv/images/cvBtn.gif) no-repeat;
            border: 0;
            font: 12px/22px "新宋体";
            line-height: 24px;
            cursor: pointer;
            font-weight: bold;
            color: white;
        }
        .score
        {
            margin-bottom: 10px;
            border-top: 1px #999999 solid;
            border-bottom: 1px #999999 solid;
            padding-top: 10px;
            padding-bottom: 10px;
            float: left;
            width: 100%;
        }
        .score_left
        {
            float: left;
            width: 47%;
            height: 40px;
            margin-left: 20px;
        }
        .score_right
        {
            float: left;
            width: 45%;
            height: 40px;
            border-left: 1px #999999 solid;
            padding-left: 24px;
        }
        .PersonReply
        {
            width: 70px;
            height: 22px;
            background: url(/content/personal/Images/ico_pub.png) 0px -2545px no-repeat;
            display: block;
            float: left;
            margin-left: 4px;
        }
    </style>
    <script>
        var menuThis = "0";
        var menuLi = "0";
        var canEnter = 'False';
        function EnterViRoom() {
            if (canEnter == 'True') {
                window.open('/company/vi/stepone', '_blank');
            } else {
                alert("请先发布职位，以便于告诉求职者您要面试的职位");
            }
        }
    </script>

    <script>
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</head>
<body>
<!--bbbbbbbbbbbb-->


<link type="text/css" rel="stylesheet" href="/Content/Personal/style/p.css" />
<script type="text/javascript" src="/script/preply.js?v=1"></script>
<style>
    .Header{background:#0775d0;height:45px; padding-top:5px; }
    .HeaderContent{min-width:1024px;max-width:1366px; _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1024?"1024px":""); margin:0px auto; }
    .HeaderL{ width:350px; float:left; height:45px;}
    .HeaderL .Image {height:35px; float:left;vertical-align:top;padding:0px}
    .HeaderL .Image a{text-decoration:none;height:35px;}
    .HeaderL .Image a span{ background:url(/Content/Company/new/images/head1.gif) 0px -25px;background-color:#fc0;width:51px;height:35px;margin-left:10px; float:left}
    .HeaderL .Image img{ margin:0px; margin-top:9px ; margin-left:4px; border:none;}
    .HeaderLp{margin:0;padding:0;background:url(/Content/Company/new/images/head1.gif) 0px 0px;width:107px;height:17px;margin-left:20px; float:left;margin-top:12px;}
    .HeaderR{float:right;height:45px;}
    .HeaderLHome{float:right;}
    .HeaderRdiv{margin:0;padding:0; color:white; margin-top:8px;font-size:12px;font-weight:normal; float:right}
    .HeaderText{float:right;}
    .HeaderText a{color:white;text-decoration:none;margin-right: 10px;line-height: 26px;}
    .HeaderText a:visited{color:white;text-decoration:none;margin-right: 10px;line-height: 26px;}
    .HeaderText .text{float: left;line-height: 26px;height: 28px;};
    .HeaderText .hMemberType0{display:-moz-inline-box;display:inline-block;width:55px;height:20px;margin-bottom:-3px;}
    .HeaderText .hMemberType3{background:url(/Content/Company/new/images/head1.gif) 0px -61px;display:-moz-inline-box;display:inline-block;width:60px;height:20px;margin-bottom:-3px;}
    .HeaderText .hMemberType1{background:url(/Content/Company/new/images/head1.gif) 0px -83px;display:-moz-inline-box;display:inline-block;width:75px;height:20px;margin-bottom:-4px;}
    .HeaderText .hMemberType2{background:url(/Content/Company/new/images/head1.gif) 0px -105px;display:-moz-inline-box;display:inline-block;width:60px;height:20px;margin-bottom:-5px;}
    .HeaderText .hMemberType2_1{background:url(/Content/Company/new/images/head1.gif) 0px -244px;display:-moz-inline-box;display:inline-block;width:86px;height:20px;margin-bottom:-5px;}
    .HeaderText .hMemberType2_2{background:url(/Content/Company/new/images/head1.gif) 0px -284px;display:-moz-inline-box;display:inline-block;width:86px;height:20px;margin-bottom:-5px;}
    .HeaderText .hMemberType11{background:url(/Content/Company/new/images/head1.gif) 0px -126px;display:-moz-inline-box;display:inline-block;width:60px;height:20px;margin-bottom:-3px;}
    .HeaderText .hMemberType10{background:url(/Content/Company/new/images/head1.gif) 0px -151px;display:-moz-inline-box;display:inline-block;width:60px;height:20px;margin-bottom:-3px;}
    .HeaderText .hContact{background:url(/Content/Company/new/images/head1.gif) 0px -178px; width:13px;margin-right:2px;display:-moz-inline-box;display:inline-block;height:20px;margin-bottom:-3px;}
    .HeaderRHome{float:right;width:30px;margin:0;padding:0;background:url(/Content/Company/new/images/head1.gif) 0px -203px;height:20px;}
    .popup .popuphead{background:#0775d0;height:30px;padding-top:1px}
</style>

<script type="text/javascript" src="/Script/ajax.js?v=1"></script>
<script type="text/javascript" src="/Content/Company/Script/showContact.js?v=1"></script>
<script type="text/javascript" src="/Script/p.js"></script>
<div style="clear: both">
</div>
<div class="Header" id="Header">
    <div class="HeaderContent">
        <div class="HeaderL">
            <div class="Image" title="返回首页">
                <a href="/"><span></span>
                    <!-- <img src="/Content/Company/new/images/logonew/Logo10.png">-->
                    <img src="/Content/Company/new/images/logonew/Logo10.png"/>
                </a>
            </div>
            <p class="HeaderLp">
            </p>
            <div class="Font">
            </div>
            <div class="Spirit">
                &nbsp;</div>
            <div style="clear: both">
            </div>
        </div>
        <div class="HeaderR">
            <div class="HeaderRdiv">
                <div class="HeaderRHome" onclick='location.href="/"' style='cursor: pointer'>
                </div>
                <div class="HeaderText">
                    <a target="_blank" href="/Appnew/q_android.asp">掌中招聘</a>
                    郇玉乾          (11083688)
                    <a href='/Company/cp/cpMainModify'>信息不完整</a>            <a href='/company/help/contactus' target='_blank'>联系客服</a>
                    <a href='/company/sys/logout'>[安全退出]</a>
                </div>
                <div class="HeaderLHome">
                    <img src="/content/company/new/images/zzzp.gif" /></div>
            </div>
        </div>
    </div>
</div>
<div style="clear: both">
</div>
<script type="text/javascript">
    var AccountLockStatus = "1";
    var CompanyMemberType = "0";
</script>
<input type="hidden" id="hidContactManName" value="郇玉乾" />
<input type="hidden" id="hidContactManPhone" value="18635745561" />
<input type="hidden" id="hidContsultantMobile" value="" />



<!--20181204红包雨开始-->
<link rel="stylesheet" href="/Content/Topic/hb20181204/css/demo.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="/Content/Topic/hb20181204/css/sweet-alert.css">
<script type="text/javascript" src="/Content/Topic/hb20181204/js/jquery.min.js"></script>
<script type="text/javascript" src="/Content/Topic/hb20181204/js/20181204hb.js?v=2"></script>
<!--20181204红包雨end-->

<div class="Content" id="Content">
    <div class="ContentR" id="ContentR">
        <div class="ContentText" id="ContentText">
            <div class="Main">
                <div class="ContentLeft">
                    <!--企业答复率展示-->
                    <div style="width: 260px; height: 60px; background: #fff; border: 1px solid #E4E4E4;
                            padding: 7px 0; position: absolute; right: 250px; display: block; padding-right: 0px;"
                         id="replyrate">
                        <div>
                            <div style="width: 100%; margin: 0 auto; text-align: center; font-size: 14px; font-weight: bold;">
                                我的答复率：<font style="color: #FE1A57">0%</font></div>
                            <div style="color: #838383; margin: 0 auto; text-align: center; line-height: 22px;
                                    width: 260px;">
                                答复一个应聘的简历奖励10积分<br />答复率的高低会影响求职者的投递意愿
                            </div>
                        </div>
                        <div style="width: 9px; height: 9px; position: absolute; cursor: pointer; right: 2px;
                                top: 2px; background: url(/Content/Company/Sys/images/ico_indexqr_close.jpg) no-repeat;"
                             onclick="$('#replyrate').hide();setCookie('replyrate','1');">
                        </div>
                    </div>
                    <!--else
                        {
                            <div style="float: left; margin-left: 8px; margin-right: 14px; line-height: 22px;
                                margin-top: 10px; color: red; text-align: left;">
                                微信扫一扫，分享您的<br />
                                炫酷招聘页面
                            </div>
                        }
                        <div style="width: 9px; height: 9px; position: absolute; cursor: pointer; right: 2px;
                            top: 2px; background: url(/Content/Company/Sys/images/ico_indexqr_close.jpg) no-repeat;"
                            onclick="$('#indexWechatQr').hide();setCookie('isQrClose','1');">
                        </div>
                        -->
                    <script>
                        $.get("/company/sys/CheckIsBindWeiXin?t=" + new Date().getTime(), function (data) {
                            if (data == "1") {
                                window.location.reload();
                            } else {
                                if ($("#erweimaTree").length > 0) {
                                    $.get("/company/sys/AjaxGetBindTicket?t=" + new Date().getTime(), function (data) {
                                        $("#erweimaTree").attr("src", "https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=" + data);
                                        $("#erweimaTree").css("width", "75px").css("height", "75px").css("margin-top", "-5px");
                                    });
                                }
                            }
                        });
                    </script>
                    <div class="memberName">
                        <span>江氏集团</span> <span class="id"><a target="_blank" href="/personal/cp0F207E69A9.html">
                            [预览]</a>&nbsp;会员编号：<b style="margin: 0 3px">11083688</b>&nbsp; </span>
                        <div style="clear: both">
                        </div>
                    </div>
                    <p class="memberInfo">
                        <span style="float: left;">您的基本信息不完整，请填写 <a href="/company/cp/cpmainmodify">企业基本信息</a></span>
                    </p>
                    <div class="score">
                        <table cellpadding="0" cellspacing="0" style="table-layout: fixed; width: 100%;">
                            <tr>
                                <td style="padding-left: 25px; width: 30px;" width="60">
                                    <div style="margin-right: 5px; float: left; background: url(/Content/Company/images/jifen.gif) no-repeat -235px -105px;
                                        width: 30px; height: 40px">
                                    </div>
                                </td>
                                <td valign="middle" style="width: auto; line-height: 19px; padding-right: 20px;">
                                    <span style="display: inline-block; *zoom: 1;">我的积分： <a href="/company/cppoint/pointdetail"
                                                                                            style="color: #00987F; font-weight: bolder; font-size: 14px;">
6分</a></span>
                                    <span style="color: #A0A0A0;">去<a href="/Company/cpPoint/Index" style="font-weight: bold;
                                            color: #0975D0">积分商城</a>兑换</span>
                                </td>
                                <td style="padding-left: 25px; width: 30px; border-left: 1px #999999 solid;" width="60">
                                    <div style="margin-right: 5px; float: left; background: url(/Content/Company/images/shuaing.png) no-repeat;
                                        width: 26px; height: 26px">
                                    </div>
                                </td>
                                <td valign="middle" style="width: auto; line-height: 19px; padding-right: 20px;">
                                    <span style="display: inline-block; *zoom: 1;">职位刷新数：
                                       <span style="color: #FF6600;
                                        font-size: 14px; font-weight: bold; cursor: pointer" onclick="location.href='/company/order/applyAd?adType=15 '">0个</span>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="helper" style="float: left; width: 100%">
                        <ul class="helperTitle">
                            <li>职位管理</li>
                            <li>简历搜索</li>
                            <li>简历管理</li>
                        </ul>
                        <ul class="helperData">
                            <li style="border-right: 1px solid #d0e6f1; margin-bottom: 15px; width: 33%">
                                <ul class="helperNotice">
                                    <li><span>已发布职位：&nbsp;</span><span><b><a href="/company/job/jobissue?ca=all">0                                    </a>&nbsp;&nbsp;&nbsp;</b></span></li>
                                    <li><span>还可发布职位：</span><span><b><a style="text-decoration: none;">0                                    </a>&nbsp;&nbsp;&nbsp;</b></span></li>
                                    <li style="margin-top: 10px"><a onclick="window.location.href='/company/job/jobadd'"
                                                                    style="margin-top: 11px; padding-right: 5px; cursor: pointer">
                                        <img src="/content/company/sys/images/search.gif" /></a> </li>
                                </ul>
                            </li>
                            <li style="border-right: 1px solid #d0e6f1; border-left: 1px solid #fff; width: 33%">
                                <ul class="helperNotice">
                                    <li><span class="left">下载的简历：</span><span><b><a href="/company/jm/download">0</a>&nbsp;&nbsp;&nbsp;</b></span></li>
                                    <li><span class="left">收藏的简历：</span><span><b><a href="/company/jm/favorite">0</a>&nbsp;&nbsp;&nbsp;</b></span></li>
                                    <li style="margin-top: 10px"><a onclick="window.location.href='/company/cvsearch/search'"
                                                                    style="padding-right: 5px; margin-top: 11px; cursor: pointer">
                                        <img src="/content/company/sys/images/fabu.gif" /></a> </li>
                                </ul>
                            </li>
                            <li style="width: 33%; border-left: 1px solid #fff; float: left; height: 113px;">
                                <ul class="helperNotice">
                                    <li style="border-right: 0px solid;"><span>&nbsp;&nbsp;应聘简历：</span><span><b><a href="/company/jm/applycv">0</a>&nbsp;&nbsp;&nbsp;</b></span></li>
                                    <li style="border-right: 0px solid"><span>未答复的应聘简历：</span><span><b><a href="/company/jm/applycv?replytype=1">0</a>&nbsp;&nbsp;&nbsp;</b></span></li>
                                    <li style="border-right: 0px solid"><span>&nbsp;&nbsp;&nbsp;&nbsp;未查看的留言：</span><span><b><a
                                            href="/company/service/chatonlinelog">0</a>&nbsp;&nbsp;&nbsp;</b></span></li>
                                </ul>
                            </li>
                        </ul>
                        <div style="clear: both">
                        </div>
                    </div>
                    <p style="margin-top: 11px; padding: 0">
                        <a href="/Company/Order/FeeStandard">
                            <img src="https://down.51rc.com/imagefolder/operational/hpimage/2019/06/20190627141801.jpg" style="margin:0;height:auto;width:100%;"/>
                        </a>
                    </p>
                    <div class="tips">
                        <p class="helperTitle" style="border-bottom: 1px solid #bed1df">
                            <b style="float: left">招聘会</b><span style="float: right; font-weight: normal"><a
                                href="/company/cprm/recruitment">更多招聘会>></a></span>
                        </p>
                        <ul class="ulSiteRecruitment">
                            <li><span style="width: 50%">·<a href="/zhaopinhui/588811.html" target="_blank">
                                        7月10日北京物业、酒店餐饮行业招聘会
                                    </a></span><span style="width: 12.5%">
                                        7月10日&nbsp;
                                    </span><span style="width: 36%">
                                        北京创想人才市场
                                    </span></li>
                            <li><span style="width: 50%">·<a href="/zhaopinhui/587975.html" target="_blank">
                                        7月10日北京生物医药、医疗保健、美容美发、家
                                    </a></span><span style="width: 12.5%">
                                        7月10日&nbsp;
                                    </span><span style="width: 36%">
                                        旧宫人才市场
                                    </span></li>
                            <li><span style="width: 50%">·<a href="/zhaopinhui/588812.html" target="_blank">
                                        7月11日北京销售、市场营销专场招聘会
                                    </a></span><span style="width: 12.5%">
                                        7月11日&nbsp;
                                    </span><span style="width: 36%">
                                        北京创想人才市场
                                    </span></li>
                            <li><span style="width: 50%">·<a href="/zhaopinhui/587976.html" target="_blank">
                                        7月11日大学生IT互联网教育培训人事行政招聘会
                                    </a></span><span style="width: 12.5%">
                                        7月11日&nbsp;
                                    </span><span style="width: 36%">
                                        旧宫人才市场
                                    </span></li>
                            <li><span style="width: 50%">·<a href="/zhaopinhui/598309.html" target="_blank">
                                        7月11日经济技术开发区人才交流服务中心就业帮
                                    </a></span><span style="width: 12.5%">
                                        7月11日&nbsp;
                                    </span><span style="width: 36%">
                                        北京经济技术开发区职介中心
                                    </span></li>
                            <li><span style="width: 50%">·<a href="/zhaopinhui/598304.html" target="_blank">
                                        顺义区人力资源市场7月12日综合类现场人才招聘
                                    </a></span><span style="width: 12.5%">
                                        7月12日&nbsp;
                                    </span><span style="width: 36%">
                                        顺义区人力资源市场
                                    </span></li>
                        </ul>
                        <div style="clear: both">
                        </div>
                    </div>
                    <p style="margin-top: 11px; padding: 0">
                        <a href="/company/assess/index">
                            <img src="/content/company/sys/images/wutongguoCpC.jpg" style="margin: 0; width: 100%" /></a>
                    </p>
                </div>
                <div class="ContentRight">

                    <div class="BlueBorder" style="">
                        <!--<div style="background: url(/content/personal/images/ico_guide.png);width: 123px;height: 67px;position: absolute;margin-left: -116px;">
                  <div style="width: 40px;height: 30px;float: right;cursor: pointer;" onclick="$(this).parent().remove();"></div>
                </div> -->
                        <p class="rightTitle" style="padding-top: 7px;">
                            <b style="color: #e40013; background: url(/content/company/images/laba.gif) 3px 5px no-repeat;
                                display: inline; padding-left: 20px;">消息提醒</b>
                        </p>
                        <ul class="Siteremind">
                        </ul>
                    </div>
                    <div class="BlueBorder">

                        <a href="/company/assess/index">
                            <img src="/content/company/sys/images/righttopvoid.gif" />
                        </a>

                    </div>
                    <div class="BlueBorder" style=" text-align: center; position:relative; background-color:#FFF;">
                        <img id="zhiding" src="/Content/Company/Images/zhiding.gif" />
                        <div style="float: left; position: absolute; top: 70px; left: 20px; color: green;">
                            <a href="/company/extendlink/applyextendlink" style="color: green;">查看详情</a>
                        </div>
                    </div>
                    <div class="BlueBorder" style="border-top: none;">
                        <p class="rightTitle">
                            <b style="color: #626262">职位刷新</b></p>
                        <p class="Details">
                            由于贵企业的基本信息或用户信息不完整，因此不在首页出现</p>
                        <p class="Details">
                            职位刷新数：0个 <a style="color: #fb812f" href="/company/order/applyAd?adType=15">
                            购买</a>
                            <br />
                            <label style="color: #fb812f">
                                职位刷新，让更多求职者看得见！</label>
                        </p>
                    </div>
                    <div class="BlueBorder" style="border-top:none;">
                        <p class="rightTitle">
                            <b style="color: #626262">登录日志</b></p>
                        <p class="Details" style="line-height: 30px;">
                            今天第3                            次登录，每天限登录15                            次<br />
                            本次IP：111.13.111.158&nbsp;广东省                            <br />
                            上次IP：111.13.111.197&nbsp;广东省<br />
                            上次登录时间：2019-07-09&nbsp;（周二）<br />
                            <a href="/company/sys/loginlog">查看登录日志</a>
                        </p>
                    </div>
                    <div class="BlueBorder" style="border-top: none;">
                        <p class="rightTitle">
                            <b class="Warning">谨防密码诈骗</b></p>
                        <p class="Details">
                            <label style="color: #FF0000">
                                切记！</label>
                            任何人员向您索要用户名、密码都不得告知对方。如遇到可疑情况，需提高警惕，不要透漏公司的相关信息，谨防上当受骗。<br />
                            查看<a href="/company/sys/loginlog">登录日志</a>可以判断账号是否被盗。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script language="JavaScript" src="/content/Company/Script/TreeView.js?v=4" type="text/javascript"></script>
    <script language="JavaScript" src="/Script/Common.js?v=1" type="text/javascript"></script>
    <script>
        function setCookieTime(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }
        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=")
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1
                    c_end = document.cookie.indexOf(";", c_start)
                    if (c_end == -1) c_end = document.cookie.length
                    return unescape(document.cookie.substring(c_start, c_end))
                }
            }
            return ""
        }
        var strTreeID = '';
    </script>
    <div class="treeMenu" id="leftMenu">
        <div style="clear: both">
        </div>
        <h4>
            <a href="/company/sys/index" id="memberCenter"><span>会员中心首页</span> </a>
        </h4>
        <ul style="display: none">
        </ul>
        <h4>
            <a href="javascript:void(0)" style="background: url(/Content/company/images/nav1.gif) repeat-x 0px -61px;">
                <span>职位管理</span></a></h4>
        <ul>
            <li><a href="/company/job/jobadd" id="TreeJobAdd">新增职位</a></li>
            <li><a href="/company/job/jobissue?ca=all" id="TreeJobIssue">发布中职位</a></li>
            <li><a href="/company/job/jobexpired" id="TreeJobExpired">过期职位</a></li>
            <li><a href="/company/job/jobtemplate" id="TreeJobTemplate">职位模板</a></li>
            <li><a href="/company/report/JobRecruitmentEffectStatistics/" id="TreeJobAnalysis">职位发布效果统计</a></li>
            <li><a href="/company/share/jobshare" id="TreeJobShare">我的分享</a></li>
        </ul>
        <h4>
            <a href="javascript:void(0)" style="background: url(/Content/company/images/nav1.gif) repeat-x 0px -84px;">
                <span>简历搜索</span></a></h4>
        <ul>
            <li><a href="/company/cvsearch/search" id="TreeCvSearch">搜索简历<input type="button" style="border: 0;
            background: url(/Content/company/images/img_CvSearchNew.gif) no-repeat; height: 14px;
            width: 14px; vertical-align: top; margin-left: 2px;display: none;" /></a></li>
            <li><a href="/company/cvsearch/recommend" id="TreeCvRecommend">推荐简历</a></li>
            <li><a href="/company/cvsearch/autosearch" id="TreeAutoSearch">自动搜索</a></li>
            <!--        <li><a href="/company/cvsearch/recruitment" id="TreeRmCv">招聘会简历</a></li>-->
            <li><a href="/company/cvsearch/finderlist" id="TreeCvFinder">我的搜索器</a></li>
        </ul>
        <h4>
            <a href="javascript:void(0)" style="background: url(/Content/company/images/nav1.gif) repeat-x 0px -106px;">
                <span>简历管理</span></a></h4>
        <ul>
            <li><a href="/company/jm/applycv?adddate=0" id="TreeApplyCv">应聘的简历(0)</a></li>
            <li><a href="/company/jm/download" id="TreeDownCv">下载的简历</a></li>
            <li><u><a href="/company/jm/favorite" id="TreeFavoriteCv">收藏的简历</a></u></li>
            <li><a href="/company/jm/jobviewlog" id="TreeJobViewLog">职位被浏览记录(0)</a></li>
            <li><a href="/company/jm/cvviewlog" id="TreeViewCv">浏览的简历</a></li>
            <li><a href="/company/jm/attentioncompany" id="TreeAttentionCv">被关注记录</a></li>
            <li><a href="/company/jm/cvRecyclebin?ca=all" id="TreeCvRecyle">简历回收站</a></li>
        </ul>
        <h4>
            <a href="javascript:void(0)" style="background: url(/Content/company/images/cpInterview.png) no-repeat 11px 9px">
                <span>面试管理</span></a></h4>
        <ul>
            <!--<li style="display:none"><a href="/company/vi/index">视频面试<input type="button" style=" border:0;background:url(/Content/company/images/cpshipin.png) no-repeat; height:14px; width:14px;vertical-align: top;margin-left: 2px;" /></a></li>-->
            <li><a href="/company/jm/interview" id="TreeInterviewLog">面试通知</a></li>
            <li><a href="/company/jm/chatonline" id="TreeOnlineLog">在线沟通记录</a></li>
            <li><u><a href="/company/jm/cvintention" id="TreeCvInvite">已发应聘邀请</a></u></li>
        </ul>
        <h4>
            <a href="#" style="background: url(/Content/company/assess/images/ass.png) no-repeat  13px -289px">
                <span>人才测评</span>
            </a>
        </h4>
        <ul>
            <li><a href="/company/assess/index" id="TreeAssessInfo">测评介绍</a></li>
            <li><a href="/company/assess/asstype" id="TreeAssessType">测评类型</a></li>
            <li><u><a href="/company/assess/mytest" id="TreeMyAssess">测评邀请</a></u></li>
        </ul>
        <h4>
            <a href="javascript:void(0)" style="background: url(/Content/company/images/nav1.gif) repeat-x 0px -129px;"
               id="treezhaopinhui"><span>现场招聘会</span></a>
        </h4>
        <ul>
            <li><a href="/company/cprm/recruitment" id="TreeRmList">招聘会列表</a></li>
            <li><a href="/company/cprm/rmCv" id="TreeCvScene">我的现场简历</a></li>

            <li><a href="/company/cprm/rmcompanylog" id="TreeRmCpLog">我的定展记录</a></li>

        </ul>
        <h4>
            <a href="javascript:void(0)" style="background: url(/Content/company/images/nav1.gif) repeat-x 0px -151px;">
                <span>会员服务</span></a></h4>
        <ul>
            <li><a href="/company/order/showcpstatus" id="TreeMemberStatus">会员状态</a></li>
            <li><u><a href="/company/order/orderlist" id="TreeMyOrder">我的订单</a></u></li>
            <li><a href="/company/order/applyvipmember" id="TreeApplyVip">申请VIP会员</a></li>
            <li><a href="/company/order/orderad" id="TreeApplyIndex">申请首页展示</a></li>
            <li><a href="/company/order/ordersearch" id="TreeApplyRecommend">申请推广服务</a></li>
            <li><u><a href="/company/order/applyad?adType=25" id="TreeApplyAssess">申请人才测评服务</a></u></li>
            <li><a href="/company/order/paymethodremark" id="TreePayMethod">付费方式及流程</a></li>
            <li><a href="/company/order/feestandard" id="TreeFeeStand">资费标准</a></li>
            <li><a href="/company/extendlink/applyextendlink" id="TreeFreeTop">免费置顶</a></li>
            <li><a href="/Company/cpPoint/Index" id="TreePointStore">积分商城</a></li>
        </ul>
        <h4>
            <a href="javascript:void(0)" style="background: url(/Content/company/images/nav1.gif) repeat-x 0px -173px;">
                <span>系统管理</span> </a>
        </h4>
        <!--          <span id="logotip" style="background: url(/Content/company/images/logotip.png?v=1); width: 188px;
                height: 145px; position: absolute; margin-left: 160px; margin-top: -157px;">
                <div style="width: 30px; height: 30px; float: right; cursor: pointer;" onclick="$('#logotip').hide();setCookieTime('isLogoClose', 1, 365);">
                </div>
                <a href="/company/cp/cplicence">
                    <div style="width: 50px; height: 20px; margin-top: 88px; margin-left: 55px; cursor: pointer;">
                    </div>
                </a></span>
    -->

        <ul>
            <li><a href="/company/cp/cpmainmodify" id="TreeBasicInfo">企业基本信息</a></li>
            <li><a href="/company/cp/cpEnvironmentPhoto" id="TreeCpImage">企业形象展示</a></li>
            <li><a href="/company/ca/calist" id="TreeCpAccount">用户管理</a></li>
            <li><a href="/company/cer/status" id="TreeCpCer">企业认证</a></li>
            <li><a href="/company/sys/operationlog" id="TreeOperateLog">操作日志</a></li>
            <li><a href="/company/sys/loginlog" id="TreeLoginLog">登录日志</a></li>
            <li><a href="/company/sys/cprefreshlog" id="TreeRefreshLog">刷新日志</a></li>
        </ul>
        <h4>
            <a href="javascript:void(0)" style="background: url(/Content/company/images/nav1.gif) repeat-x 0px -195px;">
                <span>客户服务</span></a></h4>
        <ul>
            <li><a href="/company/service/sendplaint" id="TreeSendPlaint">投诉求职者记录</a></li>
            <li><a href="/company/service/receivedplaint" id="TreeReceivePlaint">收到的投诉</a></li>
            <!--        <li><a href="/company/service/chatonlinelog" id="TreeBasicInfo">在线客服记录</a></li>-->
            <li><a href="/company/service/feedback" id="TreeFeedBack">给网站的反馈</a></li>
            <li><a href="/company/service/faq" id="TreeFaq">常见问题解答</a></li>
            <li><a href="/company/help/myconsultant" id="TreeMyConsultant">联系方式</a></li>
        </ul>
        <h4>
            <a href="javascript:void(0)" style="background: url(/Content/company/images/nav1.gif) repeat-x 0px -217px;">
                <span>HR助手</span></a>
        </h4>
        <ul>
            <li><a href="/cadownload" target="_blank" id="TreeHrDoc">HR文库</a></li>
            <li><a href="/news/salaryanalysisJob/" target="_blank" id="TreeSalary">查工资</a></li>
            <li><a href="/news/jobnews/" target="_blank" id="TreeJobNews">就业资讯</a></li>
        </ul>
        <h4>
            <a href="###" style="background: url(/Content/company/images/nav1.gif) repeat-x 0px -240px;"
               onclick="if(confirm('确定退出企业会员中心吗？'))window.location.href='/company/sys/logout';">
                <span>安全退出</span></a>
        </h4>
        <ul style="display: none">
        </ul>
    </div>



</div>

<style>
    .popupOnline{ width:426px; height:188px; background:url(/content/company/images/Online_05.gif) repeat-x;}
    .Text{ float:left; width:270px; color:#123c6c; font-family:"宋体"; font-size:12px; line-height:22px; }
    .Text p{ margin:0px; padding-top:20px; padding-left:30px; padding-bottom: 10px; }
</style>
<script language="javascript" src="/script/popupOnline.js"></script>
<script language="javascript" src="/content/company/script/SafePass.js"></script>
<script language="javascript">
    var Sys = {};
    var ua = navigator.userAgent.toLowerCase();
    if (window.ActiveXObject)
        Sys.ie = ua.match(/msie ([\d.]+)/)[1];

    var IsIE6 = 0, IsIE7 = 0
    if (Sys.ie) {
        if (Sys.ie.indexOf("6.") >= 0) IsIE6 = 1;
        if (Sys.ie.indexOf("7.") >= 0) IsIE7 = 1;
    }
    if (document.all) {
        window.attachEvent("onresize", pageResize);
        window.attachEvent("onload", pageResize);
    }
    else {
        window.addEventListener("resize", pageResize, false);
        window.addEventListener("load", pageResize, false);
    }
    function getTop(obj) {
        var y = obj.offsetTop;
        while (obj = obj.offsetParent) y += obj.offsetTop;
        return y;
    }
    var SubmitTime = 0;
    function pageResize() {
        var now = new Date().getTime();
        if (now - 500 < SubmitTime) return false;
        SubmitTime = now;
        var bh = document.documentElement.clientHeight;
        var cTop = getTop(_("ContentText"));
        if (cTop > 200) cTop = 150;
        bh -= cTop;
        _("ContentText").style.height = (bh - 50) + "px";
        _("leftMenu").style.height = (bh - 20) + "px";
        _("leftMenu").style.left = parseInt(Math.max((document.documentElement.clientWidth - 1366) / 2, 3)) + 'px';
    }
</script>

<script>
    function setCookieTime(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
    }
    function getCookie(c_name) {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=")
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1
                c_end = document.cookie.indexOf(";", c_start)
                if (c_end == -1) c_end = document.cookie.length
                return unescape(document.cookie.substring(c_start, c_end))
            }
        }
        return ""
    }
</script>


<link href="/content/chat/style/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/content/chat/script/perfect-scrollbar.js"></script>
<script type="text/javascript" src="/content/chat/script/jquery.mousewheel.js"></script>

<script type="text/javascript" src="/content/chat/script/chatprivi.js"></script>
<script type="text/javascript" src="/content/chat/script/chat.js"></script>
<script type="text/javascript">
    var senderType = 1;
    var chatCaMainId = "11118126";
    var chatCvMainId = "";
    var chatHexId = "";
</script>
<div class="ChatForm">
    <div class="ChatTitle">
        <span id="spShowName"></span>
        <input type="button" onclick="toggleChat()" />
    </div>
    <div class="ChatLeft" id="divChatBody">
        <div class="ChatLog">
            <div></div>
        </div>
        <div class="ChatEdit">
            <div class="ChatItem">
                <input type="button" class="Item1" title="发送表情" onclick="showChatEmotion()" />
                <input type="button" class="Item2" title="发送图片" onclick="showChatUpload()" />
                <input type="button" class="Item3" title="快捷回复" onclick="showChatReply()" />
                <input type="button" class="Item4" title="查看简历" onclick="viewChatCv()" />
                <input type="button" class="Item5" title="发送职位" onclick="showChatJob()" />
                <!--<input type="button" class="Item6" title="发送面试通知" />-->
                <div class="Item7" onclick="viewChatLog()">
                    <input type="button" title="聊天记录" />
                    <span>聊天记录</span>
                </div>
            </div>
            <textarea id="txtMessage"></textarea>
        </div>
        <div class="ChatSend">
            <span style="float: left;margin-top: 10px;margin-left: 20px;color: red">冒充领导的聊天，均为骗局，请提高警惕。</span>
            <input type="button" id="btnSend" class="ChatSendButton" onclick="sendChatText()" />
        </div>
    </div>
    <div class="ChatRight">
        <div class="ChatUser" onclick="toggleChatList()">
            <input type="button" value="" />
            <span>我的联系人</span>
        </div>
        <div class="ChatUserList">
            <div></div>
        </div>
    </div>
</div>
<div class="ChatStart" id="divChatStart" onclick="toggleChat()">
    <span id="spChatInfo">联系人[ <label id="lbOnlineCount">0</label> / <label id="lbChatCount">0</label> ]</span>
</div>
<iframe id="frmChatUpload" src="/chatonline/upload" style="display: none"></iframe>
<style>
    #cnzz_stat_icon_1261797594 {display: none;}
    #cnzz_stat_icon_1277787175 {display: none;}
</style>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261797594'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1261797594' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
