
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="中国人才热线为企业提供免费职位发布,人才招聘,专场招聘,猎头等服务,是招聘找工作首选人才网站" />
    <title>企业登录_免费职位发布-中国人才热线</title>
    <link rel="canonical" href="http://www.cjol.com/hr/">
    <link rel="stylesheet" type="text/css" href="http://www.cjolimg.com/v8/rmslog/cjol-rmslog.css"/>
    <script src="http://js.cjolimg.com/v8/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="http://js.cjolimg.com/v8/plugins/jquery.json2.min.js" type="text/javascript"></script>
    <script src="http://js.cjolimg.com/v8/rms/rms.hr_login.js?v=20180702" type="text/javascript"></script>
</head>
<body>
<div class="header-wrap">
    <div class="header-con clearfix">
        <a href="http://www.cjol.com" class="header-hrlogo" rel="nofollow">人才热线</a>
        <div class="header-hrentry">
            <div class="item-hrentry">
                <i class="icon-headhrlog"></i>
                <a href="http://newrms.cjol.com/account/register" rel="nofollow canonical" onclick="_hmt.push(['_trackEvent','zhuce_1','qiye']);" >注册企业用户</a>
            </div>
            <div class="item-msbentry">
                <i class="icon-headmsblog"></i>
                <a href="http://lietou.cjol.com/Account/NoLogin" target="_blank" rel="nofollow" onclick="_hmt.push(['_trackEvent','mianshibao','qiye']);" >猎头登录面试宝</a>
            </div>
        </div>
    </div>
</div>
<div class="hrbanner-wrap">
    <ul class="hrul-banner">
        <li style="background:url(http://www.cjolimg.com/v8/rmslog/images/pic-hrbanner1.jpg) no-repeat center top;"><a href="http://hd.cjol.com/cjolfreejob/index.html" target="_blank"></a></li>
    </ul>
    <div class="hrbtnbox-banner">
        <i class="btn-lfturn"></i>
        <i class="btn-rtturn"></i>
    </div>

    <div class="box-logbox">
        <div class="title-logbox">企业登录</div>
        <div class="con-logbox">
            <div class="line-logbox"><input type="text" placeholder="请输入用户名" id="LoginName"/></div>
            <div class="line-logbox">
                <input type="password" placeholder="请输入登录密码" id="LoginPassword"/>
                <input id="LoginPasswordTips" name="rod2" type="text" value="" placeholder="请输入密码" style="display:none;">
            </div>
            <div class="line-logbox clearfix">
                <div class="box-hrcode">
                    <input type="text" placeholder="验证码" maxlength="5" class="ipt-hrcode" id="ValidateCode"/>
                    <i class="icon-codetips"></i>
                    <input type="hidden" id="hdValidateCodeID" value=""/>
                </div>
                <img id="validatecodePicture_layer" border="0" class="img-hrcode" src="http://newrms.cjol.com/Common/ValidateCodePicture?Key=1&amp;guid=9f71a019-5208-9459-f366-fcf4364748f6">
                <a href="javascript:;" class="link-hrcode" rel="nofollow" id="changeValidateCode">换一张</a>
            </div>
            <a href="javascript:;" class="btn-logbox" rel="nofollow" id="btnLogin" onclick="_hmt.push(['_trackEvent','denglu','qiye']);">登录</a>
            <div class="conbtm-logbox"><a href="http://www.jobsdb.com" target="_blank" rel="nofollow" onclick="_hmt.push(['_trackEvent','jobsDB', 'qiye']);">招聘海外职位？登录JobsDB</a></div>
        </div>
        <div class="btm-logbox clearfix">
            <a href="http://newrms.cjol.com/account/register" class="link-regbox f_l" rel="nofollow canonical" onclick="_hmt.push(['_trackEvent','zhuce_2','qiye']);"><i></i>注册企业用户</a>
            <a href="http://newrms.cjol.com/account/retrievepassword" class="link-forgotpwd f_r" rel="nofollow" target="_blank" onclick="_hmt.push(['_trackEvent','Password','qiye']);">忘记密码？</a>
        </div>
    </div>
</div>
<div class="hrmark-main clearfix">
    <div class="item-freepub">
        <div class="tilte-hrmark">
            <i class="icon-hrpro"></i>免费发布
        </div>
        <div class="dec-hrmark">
            <p>尽享免费职位发布</p>
            <p>满足企业基本招聘需求</p>
        </div>
    </div>
    <div class="item-hrads">
        <div class="tilte-hrmark">
            <i class="icon-hrpro"></i>深耕人才
        </div>
        <div class="dec-hrmark">
            <p>深圳本地人才<em>多角度挖掘</em></p>
            <p><em>3000</em>万份优质简历</p>
            <p><em>60</em>万日均简历投递量</p>
        </div>
    </div>
    <div class="item-hrstyle">
        <div class="tilte-hrmark">
            <i class="icon-hrpro"></i>快捷高效
        </div>
        <div class="dec-hrmark">
            <p>人才币<em>便捷</em>充值</p>
            <p>尽享<em>一站式</em>招聘服务</p>
        </div>
    </div>
</div>
<div class="footer-wrap">
    <div class="footer-con clearfix">
        <div class="footer-tel">
            <i class="icon-foottel"></i>
            <dl class="footdl-tel">
                <dt>服务热线</dt>
                <dd>4000-600-600</dd>
                <dd>0755-26162999</dd>
            </dl>
        </div>
        <a href="http://www.cjol.com/" class="footer-logo">人才热线</a>
        <div class="footer-navi">
            <dl class="footdl-navi">
                <dt>关于我们</dt>
                <dd><a href="http://www.cjol.com/aboutus/aboutus.html" target="_blank" rel="nofollow">企业概况</a></dd>
                <dd><a href="http://www.cjol.com/aboutus/service.html" target="_blank" rel="nofollow">产品与服务</a></dd>
                <dd><a href="http://www.cjol.com/aboutus/news/" target="_blank" rel="nofollow">新闻中心</a></dd>
                <dd><a href="http://www.cjol.com/jobs/company-73530" target="_blank" rel="nofollow">加入我们</a></dd>
                <dd><a href="http://www.cjol.com/aboutus/contact.html" target="_blank" rel="nofollow">联系我们</a></dd>
            </dl>
            <dl class="footdl-navi">
                <dt>企业</dt>
                <dd><a href="http://www.cjol.com/hr" target="_blank" rel="nofollow">企业登录</a></dd>
                <dd><a href="http://lietou.cjol.com" target="_blank" rel="nofollow">面试宝</a></dd>
                <dd><a href="http://hd.cjol.com/lzt/index.html" target="_blank" rel="nofollow">劳资通</a></dd>
                <dd><a href="http://www.cjol.com/pubport/Aboutus/UserFeedback/HR" target="_blank" rel="nofollow">使用反馈</a></dd>
            </dl>
            <dl class="footdl-navi">
                <dt>求职者</dt>
                <dd><a href="http://app.cjol.com/app/index.html" target="_blank" rel="nofollow">手机App</a></dd>
                <dd><a href="http://www.cjol.com/jobseekers/Default.aspx" target="_blank" rel="nofollow">我的人才热线</a></dd>
                <dd><a href="http://www.cjol.com/jobseekers/Login.aspx?forward=resume" target="_blank" rel="nofollow">我的简历</a></dd>
                <dd><a href="http://www.cjol.com/jobseekers/subscribe/manage.aspx" target="_blank" rel="nofollow">职位订阅</a></dd>
                <dd><a href="http://www.cjol.com/pubport/Aboutus/UserFeedback/JobSeeker" target="_blank" rel="nofollow">使用反馈</a></dd>
            </dl>
        </div>
        <div class="footer-line"></div>
        <div class="footer-hrcode">
            <div class="con-hrcode">
                <img src="http://www.cjolimg.com/v8/rmslog/images/pic-hrwxcode.jpg" width="128" height="128" alt="招聘二维码" />
                <i class="icon-arrowcode"></i>
            </div>
            <div class="txt-hrcode">
                <p>扫码免费体验</p>
                <p>微信招聘助手</p>
            </div>
        </div>
    </div>
    <div class="footer-btm">
        <p>中国人才热线版权所有</p>
        <p>Copyright 1997-2017cjol.com inc. all rights reserved.</p>
    </div>
</div>
<script src="http://js.cjolimg.com/v8/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script type="text/javascript">
    if ($(".hrbanner-wrap .hrul-banner li").length > 1) {
        jQuery(".hrbanner-wrap").slide({ mainCell: ".hrul-banner", prevCell: ".btn-lfturn", nextCell: ".btn-rtturn", effect: "fold", delayTime: 500, interTime: 5000, autoPlay: true });
        $(".hrbtnbox-banner").show();
    }
    var _hmt = _hmt || [];
    (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?36534f4826de8bde820fa4722f1fa7e8";
            var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s);
        }
    )();
</script>
</body>
</html>
